In [1]:
import sqlite3

In [9]:
conn = sqlite3.connect('Grupo3_3/data/Grupo3.db')

cursor = conn.cursor()

In [11]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Userlogin (
    id TEXT PRIMARY KEY,
    password TEXT NOT NULL,
    role TEXT NOT NULL
)
''')

In [13]:
cursor.executemany('''
INSERT OR IGNORE INTO Userlogin (id, password, role)
VALUES (?, ?, ?)
''', [
    ('admin', 'admin123', 'admin'),
    ('joana', 'joana456', 'player'),
    ('maria', '1234', 'player')
])

In [15]:
conn.commit()
conn.close()

In [17]:
print("Tabela Userlogin criada com sucesso!")

Tabela Userlogin criada com sucesso!